.carousel-control-next-icon{
    background-color: black ;
    padding: 3rem 0rem;
}
.carousel-control-prev-icon{
    background-color: black;
    padding: 3rem 0rem;
}
.navbar{
    background-color: rgb(205, 203, 203) !important;
}
.w-50{
    margin-left: 25vw !important;
}
h1{
    margin-left: 5vw;
}