.carousel-control-next-icon{
    background-color: black ;
    padding: 3rem 0rem;
}
.carousel-control-prev-icon{
    background-color: black;
    padding: 3rem 0rem;
}
.navbar{
    background-color: rgb(205, 203, 203) !important;
}
img{
    text-align: center;
}