.navbar{
    background-color: rgb(205, 203, 203) !important;
}
.form-control{
    width: 20rem !important;
}
label{
    text-align: left !important;
}
.alert{
    text-align: -webkit-center !important;
}
body{
    background-color: white;
}
