.navbar{
    background-color: rgb(205, 203, 203) !important;
}
a{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    
}
.navbar{
    background-color: rgba(0, 0, 0, 0.922) !important;
}
.py-5{
    color: black;
}
.navBarContent{
    margin-left: 35%;  
}
.navBarHome{
    margin-left: 2%;
    color: white;
}
.container-fluid>a{
    color: white !important;
}
.nav-link{
    color: white !important;
}
.navBarHome{
    margin-left: 2%;
    color: white;
}
.navBarContent{
    margin-left: 38%;  
}
.btn{
    color: black;
}